  <div class="card-body-log">
    <div class="pt-4 pb-2">
       <h5 class="card-title text-center pb-0 fs-4">Recover Your Password</h5>
       <hr>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email is invalid</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary" style="background-color:#781496 ; border:none; width: 140px;">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
            </button>
            <a routerLink="../login" class="btn btn-link" style="text-decoration: none; padding-left: 40px; color: #781496;">Cancel</a>
        </div>
    </form>
</div>
