<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="d-flex justify-content-center py-4">
              <div routerLink="/" class="logo d-flex align-items-center w-auto">
                <span class="d-none d-lg-block" style="font-size: 40px">{{
                  angularTask
                }}</span>
              </div>
            </div>
            <img
              src="assets/img/homelogo.jpeg"
              alt=""
              style="width: 300px; height: 150px"
            />
            <div class="card mb-3" style="width: 300px">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
